html,
body {
    margin: 0;
    padding: 0;
    max-height: 100%;
    height: 100%;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    background-color: #00CEDB;
}

.page-heading {
    margin: 1.4em 0px 4vh 4vw;

    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 8vw;
    color: #FFFFFF;
}

.input-block-container {
    margin-top: 2vh;
}

.input-desc {
    margin-left: 4vw;
    text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);

    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 5vw;
    color: #FFFFFF;
}

input,
select {
    width: 70vw;
    margin: 1.5vh 0px 0px 4vw;
    padding: 1.2vh 0px 1.2vh 6vw;
    background-color: rgba(255, 255, 255, 0.7);

    border-style: none;
    border-radius: 8px;

    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
    /* Opera/IE 8+ */

    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 6vw;
    color: rgba(0, 0, 0, 1);
}

::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #000000;
}

:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #000000;
    opacity: 1;
}

::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #000000;
    opacity: 1;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #000000;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #000000;
}

::placeholder {
    /* Most modern browsers support this now. */
    color: #000000;
}

.info-text {
    display: block;
    margin: 2.5vh 0px 0px 4vw;

    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 5vw;
    color: #FFFFFF;
}

.total-sum {
    display: block;
    margin: 3vh 0px 0px 4vw;

    font-family: 'Inter', sans-serif;
    text-align: center;
    font-weight: 600;
    font-size: 5vw;
    color: #FFFFFF;
}

#total-sum-number {
    display: block;

    font-family: 'Inter', sans-serif;
    text-align: center;
    font-weight: 700;
    font-size: 8vw;
    color: #000000;
}

#calculate-button {
    position: relative;
    z-index: 1;

    width: 92vw;
    margin: 1vh 4vw 0px 4vw;
    padding: 1vh 0;
    background-color: #000000;

    border-radius: 20px;
    border-style: none;

    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 8vw;
    color: #FFFFFF;
    transition: ease-in-out 0.2s;
}

#calculate-button:active {
    transform: scale(0.85);
}

.coin1 {
    top: -100px;
    right: -70px;
    transform: rotate(31.74deg);
}

.coin2 {
    bottom: 40px;
    right: -80px;
}

.coin3 {
    bottom: -20px;
    left: -62px;
    transform: rotate(133.83deg);
}

.coin-container {
    position: absolute;
    margin: auto;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}