body {
    max-width: 100vw;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #FFFFFF;
}

.page-title {
    display: inline-block;
    width: calc(100vw - 8px);

    position: absolute;
    top: 18px;
    left: 8px;
    z-index: -1;

    text-align: center;
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 32px;
    color: #000000;
}

.page-subtitle {
    display: block;
    margin: 120px 10% 30px 10%;

    font-family: "Monsterrat", sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: #000000;
}

.main-container {
    padding: 15px 10px;
    margin: 10px;

    border-radius: 30px;
    background-color: #14EDD3;

    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #000000;
}

.input-desc-container {
    display: flex;
    flex-direction: row;
    width: 60%;
    justify-content: space-between;
}

.input-title {
    font-family: "Monsterrat", sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: #000000;
}

.addr-input {
    width: calc(100% - 30px);
    margin: 10px 20px 10px 10px;
    padding: 8px 0px 8px 10px;

    border-radius: 15px;
    border-style: none;
    background-color: #FFFFFF;
}

::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #000000;
}

:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #000000;
    opacity: 1;
}

::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #000000;
    opacity: 1;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #000000;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #000000;
}

::placeholder {
    /* Most modern browsers support this now. */
    color: #000000;
}

#save-data-button {
    display: block;
    width: calc(100% - 44px);
   

    /*
    color when active
    background-color: #00E8CD;
    color when ask user to edit
    background-color: #FF7C03;
    */

    border-radius: 15px;
    border-style: none;

    margin: 40px 22px 0px 22px;
    padding: 20px 0px;

    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 40px;
    color: #FFFFFF;
    transition: 0.4s;
}

#save-data-button:enabled:active {
    transform: scale(0.9);
}

svg {
    width: 3.25em;
    transform-origin: center;
    animation: rotate4 2s linear infinite;
    margin-top: 60%;
    margin-left: 45%;
}

circle {
    fill: none;
    stroke: #00E8CD;
    stroke-width: 2;
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    animation: dash4 1.5s ease-in-out infinite;
}

@keyframes rotate4 {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes dash4 {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dasharray: 90, 200;
        stroke-dashoffset: -35px;
    }

    100% {
        stroke-dashoffset: -125px;
    }
}