html,
body {
	max-width: 100%;
	overflow-x: hidden;
}

body {
	margin: 0;
	padding: 0;
	background-color: #FFFFFF;
}

#listing {
	margin: 0px 6px 60px 6px;
}

.brand-logo {
	display: flex;
	position: relative;

	aspect-ratio: 1 / 1;
	height: inherit;

	align-items: center;
	justify-content: center;
	text-align: center;
	transition: all .1s ease-in-out;
}

.logo-img-bg {
	display: block;
	width: 100%;
}

.offer-banner-link {
	display: flex;
	justify-content: center;
	align-items: center;
}

.offer-banner {
	width: 95%;
	margin-top: 12px;
}

.catalog-container {
	margin: 0px 9px 0px 9px;
}

.inner {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px 20px;
	padding-top: 20px;
}

.img {
	width: 150px;
	align-self: center;
}

.product-card {
	border-radius: 20px;
	background-color: white;
	box-shadow: 0px 6px 4px -1px rgba(0, 0, 0, 0.26);

	display: flex;
	flex-direction: column;
}

.item {
	text-align: center;
	align-items: center;
}

.itemname {
	color: #000000;
	width: 100%-8px;
	margin-left: 4px;
	margin-right: 4px;

	padding-bottom: 5px;

	text-align: left;
	font-family: 'Inter', sans-serif;
	font-weight: 400;
	font-size: 20px;
}

.price {
	width: fit-content;
	background-color: #8AFFF2;
	border-radius: 7px;

	margin: auto 6px 12px 10px;
	padding: 0px 5px 0px 5px;

	text-align: left;
	font-family: 'Inter', sans-serif;
	font-weight: 700;
	font-size: 16px;
	color: #000000;
}

.usercard {
	text-align: center;
}

.loader {
	display: flex;
	opacity: 0;

	position: fixed;
	bottom: 20px;
	left: 50%;

	transform: translate(-50%, -50%);
}

.loader.show {
	opacity: 1;
}

.circle {
	background-color: #CCCCCC;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	margin: 5px;
	animation: bounce 0.5s ease-in infinite;
}

.circle:nth-of-type(2) {
	animation-delay: 0.1s;
}

.circle:nth-of-type(3) {
	animation-delay: 0.2s;
}

@keyframes bounce {

	0%,
	100% {
		transform: translateY(0);
	}

	50% {
		transform: translateY(-10px);
	}
}

.product-search {
	width: 100%;

	display: flex;
	justify-content: center;
}

.inputbox {
	height: 31px;
	width: 57px;

	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;

	border: 0;
	border-radius: 20px;

	box-shadow: 0px 6px 4px -1px rgba(0, 0, 0, 0.26);
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	font-weight: 300;
	transition: 0.2s linear;
}

.wideinputbox {
	background-color: #DAFFFB;
	height: 31px;
	width: 90%;

	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;

	border: 0;
	border-radius: 20px;

	box-shadow: 0px 6px 4px -1px rgba(0, 0, 0, 0.26);
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	font-weight: 300;
	transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}

input[type=search]::-webkit-search-cancel-button {
	-webkit-appearance: searchfield-cancel-button;
}

.inputbox.transition {
	width: 90%;
	box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
	transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}

.wideinputbox.transition {
	width: 90%;
	box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
	transition: 0.2s linear;
}

.search-btn {
	aspect-ratio: 1 / 1;
	height: 40px;

	background: none;
	border-color: none;
	border-radius: 20px;
	position: absolute;
	margin-right: 75%;
	margin-top: 2%;
	padding: 0;
}

.icon-search {
	width: 100%;
	height: 100%;
	color: rgb(33, 187, 221);
}

.search-btn:active {
	transform: scale(0.95);
}

.pre-search-link-cont {
	height: 10%;
	display: flex;

	flex-direction: row;
	justify-content: space-between;

	margin: 6px 6px 0px 6px;
}

#personal-balance-badge {
	position: relative;
	top: -14px;

	border-radius: 30px;
	background-color: #26FCE2;

	text-align: center;
	font-family: 'Inter', sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: #000000;
}

#cart-item-amount-badge {
	position: relative;
	top: -60px;
	right: -40px;

	height: 22px;
	width: fit-content;
	aspect-ratio: 1 / 1;

	border-radius: 50%;
	background-color: #C6C6C6;

	text-align: center;
	font-family: 'Inter', sans-serif;
	font-weight: 300;
	font-size: 15px;
	color: #000000;
}

.header-logo-image {
	height: 60px;
}

a,
a:visited,
a:hover,
a:active {
	text-decoration: none !important;
	color: inherit;
}

.other-link-container {
	display: grid;
	grid-template-columns: 50% 40%;
	grid-template-rows: 1fr 1fr;

	margin-bottom: 16px;
	width: 100%;

	align-items: end;
	justify-items: center;
	justify-content: space-evenly;
}

.other-link {
	display: inline-block;
	position: relative;

	height: 100%;
	width: calc(100% - 32px);

	justify-content: center;
	text-align: center;
	transition: all .1s ease-in-out;
}

.other-link:active {
	transform: scale(0.8);
}

.link-img {
	width: 100%;
}

.other-link-text {
	font-family: 'Inter', sans-serif;
	font-weight: 300;
	font-size: 15px;
	color: #000000;

	display: inline;
}

.idk-why-it-works {
	grid-column: 2 / 2;
	grid-row: 1 / span 2;
}

#blog-link {
	width: 100%;
}

#delivery-link {
	grid-column: 1 / 1;
	grid-row: 1 / 1;
	width: 100%;
	height: min-content;
}

#season-top-link {
	grid-column: 1 / 1;
	grid-row: 2 / 2;
	width: 100%;
	height: min-content;
}

.title-text-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.brand-title {
	font-family: 'Rubik Mono One', sans-serif;
	font-weight: 400;
	font-size: 32px;
	color: #000000;
}

.all-brands-button {
	width: auto;
	text-align: right;
	font-family: 'Inter', sans-serif;
	font-weight: 200;
	font-size: 20px;
}

.filter-button {
	height: 40px;
}

#offersCarousel {
	margin: 10px 0px 10px 0px;
}

.brand-container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;

	align-items: center;
	justify-content: space-evenly;
}

.brand-logo {
	flex: 0 1 30%;

	aspect-ratio: 1 / 1;
	height: calc(100% - 32px);

	align-items: center;
	justify-content: center;

	margin-bottom: 20px;
	transition: all .1s ease-in-out;
}

.brand-logo:active {
	transform: scale(0.8);
}

.brand-fg {
	width: 90%;
	right: 5%;
}

* {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

*:before,
*:after {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}